html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color:$main-color;
    // overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.site-wrapper {
    height: 100%;
    width: 100%;
    background-color:$main-color;
    // overflow: hidden;
}

.inner-wrapper {
    width: 100%;
    height: 75%;
    margin-top: 175px;
    overflow-y: auto;
    overflow-x: hidden;

    @include respond-to('vsmall') {
        margin-top: 0;
    }

    @extend %hide-scroll;
}
