.grid-gallery {
    margin:0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    opacity: 1;
    transition: 1s;

    @include respond-to('small') {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('vsmall') {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }


    figure {
        position: relative;
        transition: .4s ease-in;

         &:hover {
             transform: scale(1.1);
         }
    }
}
.gallery-img-overlay{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background: grey;
}
.gallery-item {
    margin: 15px;
}
.gallery-img {
    opacity: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}
.gallery-img--active {
    opacity: 1;
}