.grid-gallery {
    display: grid;
    margin:0 auto;
    width: 90%;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, 8vw);
    grid-row-gap: 0;
    opacity: 1;
    transition: 1s;
}

#item--1{
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#item--2 {
    position: relative;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
#item--3 {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
#item--4 {
    position: relative;
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
.gallery-img-overlay{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background: grey;
}
.gallery-item {
    margin: 15px;
}
.gallery-img {
    opacity: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}
.gallery-img--active {
    opacity: 1;
}
