.curtains {
    position: fixed;
    left: 22%;
    right: 22%;
    top: 0%;
    height: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.curtain {
    width: 1px;
    height: 1500px;
    background: rgba(66, 66, 66, 0.5);
}

%switch-button {
    position: absolute;
    top:50%;
    z-index: 3;
    font-size: 45px;
    color: white;
    cursor: pointer;

}

#next {
    @extend %switch-button;
    right: 12%;
    @include respond-to('vsmall') {
        right: 4%;
    }
}
#prev {
    @extend %switch-button;
    @include respond-to('vsmall') {
        left: 4%;
    }
    left: 12%;
}
